@font-face {
    font-family: "SpaceGrotesk";
    font-weight: 700;
    src: url('./assets/fonts/static/SpaceGrotesk-Bold.ttf') format("truetype");
}
@font-face {
    font-family: "SpaceGrotesk";
    font-weight: 500;
    src: url('./assets/fonts/static/SpaceGrotesk-Medium.ttf') format("truetype");
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    --color-one: #7945FF;
    --color-two: #5C2DD5;
    --background-color: var(--color-one);
    --player_one-color: #FFCE67;
    --player_two-color: #FD6687;
    --player-color: var(--player_one-color);
    font-family: 'SpaceGrotesk', sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: var(--background-color);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.hidden {
    display: none !important;
}
.btn {
    display: inline-block;
    padding: .625em 1.375em;
    background-color: var(--color-two);
    border-radius: 100px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
}
.board, .board-background {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.board-background {
    grid-template-rows: repeat(6, 1fr);
    gap: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
    padding-bottom: 3.75rem;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 40px;
    box-shadow: 0px 10px 0px #000000;
    /* position: relative;
    z-index: 0; */
}
/* .board-background:before {
    content: '';
    position: absolute;
    top: calc(100% - 3.25rem);
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100px;
    background-color: var(--winner-color, var(--color-two));
    border-radius: 3.75rem 3.75rem 0 0;
    z-index: -1;
} */
.board-wrapper {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.board-background__slot {
    width: 64px;
    height: 64px;
    background-color: var(--background-color);
    border-radius: 50%;
    border: 3px solid #000000;
    box-shadow: inset 0 10px #000000;
}
.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 46px);
    height: calc(100% - 46px);
    padding-bottom: 2.5rem;
    gap: 29px;
    border: 3px solid transparent;
}
.board__column {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    height: 100%;
}
.board__piece {
    background-color: pink;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    box-shadow: inset 0 5px rgba(0, 0, 0, .5);
    background-color: var(--player-color, lightgrey);
}
.board__piece--player_one {
    --player-color: #FFCE67;
}
.board__piece--player_two {
    --player-color: #FD6687;
}
.board__piece--preview {
    --offset: 6px;
    width: calc(58px - var(--offset) * 2);
    height: calc(58px - var(--offset) * 2);
    margin: var(--offset);
    animation-duration: 1s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: 3px dashed var(--player-color);
    box-shadow: none;
    background-color: transparent;
    position: relative;
}
.board__piece--preview::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background-color: var(--player-color);
    border-radius: 50%;
}
.board__piece--winner {
    position: relative;
}
.board__piece--winner::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    border: #FFF solid 6px;
    border-radius: 50%;
    background-color: transparent;
}

.winner-window, .current-turn-window {
    width: fit-content;
    margin-top: -2.625rem;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000000;
    box-shadow: 0px 10px 0px #000000;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 1.25rem;
}
.winner-window__text, .current-turn-window__text {
    margin: 0;
    font-weight: 700;
    line-height: 1.28;
    text-transform: uppercase;
}
.winner-window__text strong, .current-turn-window__text strong {
    font-size: 3.5em;
    line-height: 1.28;
}
.winner-window {
    padding: 1.125rem 4.625rem;
    background-color: #FFF;
}
.current-turn-window {
    background-color: var(--player-color);
    padding: 1rem 1.875rem;
}
.current-turn-timer {
    text-transform: none;
}

.board-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 60px;
}
.column-marker {
    fill: var(--player-color);
}
.board-button svg {
    width: 32px;
    height: 26px;
    margin-top: 3px;
    transition: 300ms ease-in-out;
    animation-name: up-and-down;
    animation-duration: .7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
.board-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    z-index: 0;
}
.board-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: rgba(255, 255, 255, .6);
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms ease-in-out;
    opacity: 0;
    border-radius: 50%;
}
.board-button:hover svg,
.board-button:focus svg,
.board-button:active svg {
    opacity: 1;
}
.board-button:hover:after,
.board-button:focus:after,
.board-button:active:after {
    opacity: .3;
}
.board-button:disabled {
    cursor: not-allowed;
}
.board-button:disabled:after {
    border: 3px solid #000;
}
.board-button:disabled:hover:after,
.board-button:disabled:focus:after,
.board-button:disabled:active:after {
    opacity: 1;
}
/* .board-button:disabled:before {
    content: 'Full';
    background: none;
    width: auto;
    height: auto;
    animation-name: none;
    color: #000000;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
} */

@keyframes up-and-down {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(10%);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}