*, *:before, *:after {
    box-sizing: border-box;
}
body {
    --color-one: #7945FF;
    --background-color: var(--color-one);
    margin: 0;
    background-color: var(--background-color);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.board, .board-background {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.board-background{
    grid-template-rows: repeat(6, 1fr);
    gap: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 40px;
    box-shadow: 0px 10px 0px #000000;
}
.board-wrapper {
    position: relative;
    width: fit-content;
    margin: 0 auto 40px;
}
.board-background__slot {
    width: 64px;
    height: 64px;
    background-color: var(--background-color);
    border-radius: 50%;
    border: 3px solid #000000;
    box-shadow: inset 0 10px #000000;
}
.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 46px);
    height: calc(100% - 46px);
    gap: 29px;
    border: 3px solid transparent;
}
.board__column {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    height: 100%;
}
.board__piece {
    background-color: pink;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    box-shadow: inset 0 5px rgba(0, 0, 0, .5);
    background-color: var(--player-color, lightgrey);
}
.board__piece--player_one {
    --player-color: #FFCE67;
}
.board__piece--player_two {
    --player-color: #FD6687;
}
.board__piece--preview {
    --offset: 6px;
    width: calc(58px - var(--offset) * 2);
    height: calc(58px - var(--offset) * 2);
    margin: var(--offset);
    animation-duration: 1s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: 3px dashed var(--player-color);
    box-shadow: none;
    background-color: transparent;
    position: relative;
}
.board__piece--preview::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background-color: var(--player-color);
    border-radius: 50%;
}
.board__piece--winner {
    position: relative;
}
.board__piece--winner::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    border: #FFF solid 6px;
    border-radius: 50%;
    background-color: transparent;
}

.board-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 60px;
}
.board-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    z-index: 0;
}
.board-button::before {
    content: '';
    display: block;
    background-image: url(assets/images/marker-red.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 26px;
    margin-top: 3px;
    transition: 300ms ease-in-out;
    animation-name: up-and-down;
    animation-duration: .7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
.board-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: rgba(255, 255, 255, .6);
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms ease-in-out;
    opacity: 0;
    border-radius: 50%;
}
.board-button:hover:before,
.board-button:focus:before,
.board-button:active:before {
    opacity: 1;
}
.board-button:hover:after,
.board-button:focus:after,
.board-button:active:after {
    opacity: .3;
}
.board-button:disabled {
    cursor: not-allowed;
}
.board-button:disabled:after {
    border: 3px solid #000;
}
.board-button:disabled:hover:after,
.board-button:disabled:focus:after,
.board-button:disabled:active:after {
    opacity: 1;
}
.board-button:disabled:before {
    content: 'Full';
    background: none;
    width: auto;
    height: auto;
    animation-name: none;
    color: #000000;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
}

@keyframes up-and-down {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(10%);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}